.cloud {
}

.cloud-child {
  animation: cloud-clouddark 5s linear infinite;
}

.sun {
  animation: sun-down 5s linear infinite;
}

.tear {
  width: 300px;
  aspect-ratio: 1;
  background: black;
  rotate: 45deg;
  border-radius: 0 50% 50% 50%;
}

.mail {
}
.mail-dot {
}

@keyframes cloud-clouddark {
  0% {
  }
  50% {
    background-color: rgb(78, 102, 105);
  }
}

@keyframes sun-down {
  0% {
  }
  50% {
    transform: translateY(32px) scale(0);
  }
}

@keyframe clouddark-rain {
  0% {
  }
  50% {
    transform: translateY(32px) scale(0);
  }
  
}
