.loading {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.loading .dot-1 {
  --value: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-2 {
  --value: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-3 {
  --value: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-4 {
  --value: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-5 {
  --value: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-6 {
  --value: 6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-7 {
  --value: 7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.loading .dot-8 {
  --value: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 45deg));
}

.loading .dot-1::before,
.loading .dot-2::before,
.loading .dot-3::before,
.loading .dot-4::before,
.loading .dot-5::before,
.loading .dot-6::before,
.loading .dot-7::before,
.loading .dot-8::before {
  @apply absolute top-0 left-0 h-4 w-4 rounded-full border-4 border-blue-400;

  content: "";
  filter: hue-rotate(calc(var(--value) * 45deg));
  animation-name: hidden;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--value) * 0.125s);
  animation-timing-function: ease-in-out;
}

@keyframes hidden {
  from {
  }
  to {
    transform: scale(0);
  }
}
