.contact-item {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

}

.contact-item:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));

    border-bottom-left-radius: 9999px;
    
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contact-item:hover .username {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.contact-item:hover .new-message {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


::-webkit-scrollbar {
    width: 0px;
    background-color: transparent; /* Set scrollbar background color */
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set scrollbar thumb color */
    width: 4px;
    border-radius: 6px;
  }